<h1> All Your Tracks in One Split</h1>

<div class ="">
<h1>Latest Sets</h1>
<p>Thank you so much Manoela for the inspiration! I cobbled together three of your Playground inspirations: Arrow Navigation Styles, Inspiration for Article Intro Effects, and Page Loading Effects into a single page example. Worked pretty well together with only minimal adjustments needed. It continues to be a work in progress! Thank you again and keep up the great work!</p>
</div>
