<!-- <h1 class="home&#45;main&#45;text">All your tracks in one go</h1> -->

<article>
  <div class="parallax">
    <div class="bg__foo">foo</div>
    <div class="bg__bar">foo</div>
    <div class="bg__baz">foo</div>
    <div class="bg__bazz">foo</div>
  </div>
  <header>
    <h1>Latest sets</h1>
  </header>
  <section class="latest-sets">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-info">
        <div class="panel-heading">
          Heading
        </div>
        <div class="panel-body">
          Body
        </div>
        <div class="panel-footer">
          Footer
        </div>
      </div>

      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
      <p>Dolor ipsum vel adipisicing modi ipsam quo dolorem explicabo enim. Magnam iusto alias corporis quaerat illo odio optio vel placeat tempora? Atque exercitationem nisi praesentium voluptatum ipsum quod totam. Fugit.</p>
    </div>

  </section>
</article>
