<h2>Search results</h2>

<% if @livesets.empty? %>
  <p>
    No results found. :(
  </p>
<% else %>
  <% @livesets.each do |liveset| %>
    <p>
      <a href="<%= liveset.id %>">
        <%= liveset.artist %> - <%= liveset.title %> - <%= liveset.date_aired %>
      </a>
    </p>
  <% end %>
<% end %>
